<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet">
    <title>Title</title>
    <script 
    src="https://kit.fontawesome.com/44a490f39f.js" 
    crossorigin="anonymous"
        ></script>
    <script src="js/Main.js" defer></script>
</head>
<body>
    <nav class="navbar">
        <div class="navbar_logo">
            <i class="fa-solid fa-users-rays"></i>
            <a href="index.html">제목정해야함</a>
        </div>
        <ul class="navbar_menu">
            <li><a href="">여기에</a></li>
            <li><a href="">무엇을</a></li>
            <li><a href="">넣어야</a></li>
            <li><a href="/noticePage/notice">공지사항 게시판</a></li>
            <li><a href="/login">임시로그인</a></li>
        </ul>
        <ul class="navbar_icon">
            <li><a href="#"><i class="fa-solid fa-house-chimney"></i></a></li>
            <li><a href="#"><i class="fa-solid fa-timeline"></i></a></li>
        </ul>

        <a href="#" class="navbar_toogleBtn">
            <i class="fa-solid fa-bars"></i>
        </a>
    </nav>
    <dialog>
        <div class="container">
            <a type="button" href="/eventPage/nowevent"><p>진행중인 이벤트</p></a>
            <a type="button" href="/eventPage/closeevent"><p>종료된 이벤트</p></a>
        </div>
    </dialog>
</body>
</html>
