<!DOCTYPE html>
<html lang="ko">
   <head>
      <meta charset="UTF-8">
      <title>제목정해야함 : 회원가입</title>
      <link rel="stylesheet" href="css/signUp.css">
      <script 
      src="https://kit.fontawesome.com/44a490f39f.js" 
      crossorigin="anonymous"
          ></script>
      
   </head>
   <body>
      <!---------header----------->
      <div id="Header">
         <a href="/" target="_self" title="제목정해야함 회원가입페이지 보러가기"><img src="img/Home.png" id="Home_index.png" class="HomeTitle" alt=""></a>
         </div>
      <!---------wrapper---------->
      <div id="wrapper">
         <!---------content---------->
         <div id="content">
            <!--id-->
            <div>
               <h3 class="join title">
                  <label for="id">아이디</label>
               </h3>
               <span class="box int_id">
                  <input type="text" id="id" class="int" maxlength="20">
               </span>
               <span class="error_next_box"></span>
            </div>
            <!--Pw1-->
            <div>
               <h3 class="join_title"><label for="password1">비밀번호</label></h3>
               <span class="box int_pass">
                  <input type="text" id="password1" class="int" maxlength="20">
                  <span id="alertTxt">사용불가한 비밀번호입니다.</span>
                  <img src="img/icon_pass.svg" id="password1_img" class="passwordImg" alt="">
               </span>
               <span class="error_next_box"></span>
            </div>
            <!--Pw2-->
            <div>
               <h3 class="join_title"><label for="password2">비밀번호 재확인</label></h3>
               <span class="box int_pass_check">
                  <input type="text" id="password2" class="int" maxlength="20">
                  <img src="img/icon_check_disable.png" id="password2_img" class="passwordImg" alt="">
               </span>
               <span class="error_next_box"></span>
            </div>
            <!--Name-->
            <div>
               <h3 class="join_title"><label for="name">이름</label></h3>
               <span class="box int_name">
                  <input type="text" id="name" class="int" maxlength="20">
               </span>
               <span class="error_next_box"></span>
            </div>
            <!--Birthday-->
            <div>
               <h3 class="join_title"><label for="yy">생년월일</label></h3>

               <div id="bitrhday_wrap">
                  <!--birthday_YY-->
                  <div id="birthday_yy">
                     <span class="box">
                        <input type="text" id="yy" class="int" maxlength="4" placeholder="년(4자)">

                     </span>
                  </div>
                  <!--birthday_mm-->
                  <div id="birthday_mm">
                     <span class="box">
                        <label for="mm"></label><select id="mm" class="sel">
                           <option>월</option>
                           <option value="01">1</option>
                           <option value="02">2</option>
                           <option value="03">3</option>
                           <option value="04">4</option>
                           <option value="05">5</option>
                           <option value="06">6</option>
                           <option value="07">7</option>
                           <option value="08">8</option>
                           <option value="09">9</option>
                           <option value="10">10</option>
                           <option value="11">11</option>
                           <option value="12">12</option>
                        </select>
                     </span>
                  </div>
                  <div id="birthday_dd">
                     <span class="box">
                        <label for="dd"></label><input type="text" id="dd" class="int" maxlength="2" placeholder="일">

                     </span>
                  </div>
               </div>
               <span class="error_next_box"></span>
            </div>
            <!--GenDer-->
            <div>
               <h3 class="join_title"><label for="gender">성별</label></h3>
               <span class="box gender_code">
                  <select id="gender" class="sel">
                     <option>성별</option>
                     <option value="M">남자</option>
                     <option value="F">여자</option>
                  </select>
               </span>
               <span class="error_next_box">필수로 입력해야하는 정보입니다.</span>
            </div>
            <!--Email-->
            <div>
               <h3 class="join_title"><label for="email">본인확인용 이메일</label></h3>
               <span class="box int_email">
                  <input type="text" id="email" class="int" maxlength="50">

               </span>
               <span class="error_next_box">이메일 주소를 다시 확인해주세요.</span>
            </div>
            <!--phone_number-->
            <div>
               <h3 class="join_title"><label for="mobile">휴대폰번호 (-제외)</label></h3>
               <span class="box int_mobile">
                  <input type="tel" id="mobile" class="int" maxlength="16" placeholder="전화번호 입력">
               </span>
               <span class="error_next_box"></span>
            </div>

            <!--Join BTN-->
            <div class="Btn_area">
               <button type="button" id="btnJoin">
                  <span>가입하기</span>
                  </button>
            </div>
      </div>
      <!--content-->
      </div>
      <!--wrapper-->
      <script src="js/signUp.js"></script>
   </body>

</html>
